select {
    width: 100%;
}

.main-container {
    width: 100%;
}

i {
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    
    .hidden-col {
        display: none;
    }
}