<div class="main-container">
    <div class="top my-3 d-flex justify-content-between">
        <h3>Users</h3>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal"
            (click)="onClickAddButton()">Add New User</button>
    </div>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th class="hidden-col" scope="col">Address</th>
                <th class="hidden-col" scope="col">City</th>
                <th class="hidden-col" scope="col">State</th>
                <th class="hidden-col" scope="col">Zip</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i=index">
                <th scope="row">{{i+1}}</th>
                <!-- <td class="img-row"><img [src]="product.imageUrl" alt=""></td> -->
                <td>{{user.firstName + " " + user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contactNumber}}</td>
                <td class="hidden-col" >{{user.address.substring(0,10)}}</td>
                <td class="hidden-col" >{{user.city}}</td>
                <td class="hidden-col" >{{user.state}}</td>
                <td class="hidden-col" >{{user.zipCode}}</td>
                <td>{{user.role}}</td>
                <td><i class="bi bi-pencil-square text-primary mx-2" data-bs-toggle="modal"
                        data-bs-target="#updateModal" (click)="onClickUpdateButton(user.id)"></i><i
                        class="bi bi-trash-fill text-danger mx-2" (click)="deleteUser(user.id)"></i></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">
                    <div class="row">
                        <span *ngIf="userForm.invalid" class="text-danger mb-3">* All fields
                            are required.</span>
                        <div class="col-md-6 mb-2">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" id="firstName"
                                placeholder="Enter first name here">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" id="lastName"
                                placeholder="Enter last name here">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName="email" id="email"
                                placeholder="Enter email here">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="contactNumber" class="form-label">Contact Number</label>
                            <input type="number" class="form-control" formControlName="contactNumber" minlength="10"
                                maxlength="10" id="contactNumber" placeholder="Enter contact number here">
                            <span
                                *ngIf="userForm.get('contactNumber')?.touched && userForm.get('contactNumber')?.invalid"
                                class="text-danger input-danger">Please enter a valid number</span>
                        </div>
                        <div class="col-md-6">
                            <label for="newPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password" id="newPassword"
                                placeholder="Enter password here" (change)="onPasswordChange()">
                            <span *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
                                class="text-danger input-danger">Password must have 8 characters with uppercase,
                                lowercase, number and special characters</span>
                        </div>
                        <div class="col-md-6">
                            <label for="newConfirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                id="newConfirmPassword" placeholder="Confirm your password"
                                (change)="onPasswordChange()">
                            <span *ngIf="confirmPassword.hasError('mismatch')" class="text-danger input-danger">Password
                                do not match</span>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" formControlName="address" id="address"
                                placeholder="Flat no./Plot no. Apartment, Street, Landmark">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" formControlName="city" id="city" placeholder="city">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" formControlName="state" id="state"
                                placeholder="state">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="zipCode" class="form-label">Zip Code</label>
                            <input type="text" class="form-control" formControlName="zipCode" id="zipCode"
                                placeholder="zip code">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="role" class="col-form-label">Role: &nbsp;</label><br>

                            <select formControlName="role" id="role">
                                <option value="Select a role" selected="selected" hidden="hidden">Select a role</option>
                                <option [ngValue]="'user'">user</option>
                                <option [ngValue]="'admin'">admin</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="userForm.invalid" type="submit" data-bs-dismiss="modal"
                            class="btn btn-primary" (click)="doSignUp()">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateUserForm">
                    <div class="row">
                        <span *ngIf="updateUserForm.invalid" class="text-danger mb-3">* All fields
                            are required.</span>
                        <div class="col-md-6 mb-2">
                            <label for="firstName2" class="form-label">First Name</label>
                            <input type="text" class="form-control" formControlName="firstName" id="firstName2"
                                placeholder="Enter first name here">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="lastName2" class="form-label">Last Name</label>
                            <input type="text" class="form-control" formControlName="lastName" id="lastName2"
                                placeholder="Enter last name here">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="email2" class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName="email" id="email2"
                                placeholder="Enter email here">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="contactNumber2" class="form-label">Contact Number</label>
                            <input type="number" class="form-control" formControlName="contactNumber" minlength="10"
                                maxlength="10" id="contactNumber2" placeholder="Enter contact number here">
                            <span
                                *ngIf="updateUserForm.get('contactNumber')?.touched && updateUserForm.get('contactNumber')?.invalid"
                                class="text-danger input-danger">Please enter a valid number</span>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="address2" class="form-label">Address</label>
                            <input type="text" class="form-control" formControlName="address" id="address2"
                                placeholder="Flat no./Plot no. Apartment, Street, Landmark">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="city2" class="form-label">City</label>
                            <input type="text" class="form-control" formControlName="city" id="city2"
                                placeholder="city">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="state2" class="form-label">State</label>
                            <input type="text" class="form-control" formControlName="state" id="state2"
                                placeholder="state">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="zipCode2" class="form-label">Zip Code</label>
                            <input type="text" class="form-control" formControlName="zipCode" id="zipCode2"
                                placeholder="zip code">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="role2" class="col-form-label">Role: &nbsp;</label><br>

                            <select formControlName="role" id="role2">
                                <option value="Select a role" selected="selected" hidden="hidden">Select a role</option>
                                <option [ngValue]="'user'">user</option>
                                <option [ngValue]="'admin'">admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button [disabled]="updateUserForm.invalid" type="submit" data-bs-dismiss="modal"
                            class="btn btn-primary" (click)="updateUser()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>