.img-row img {
    width: 50px;
}

.main-container {
    width: 100%;
}

i {
    font-size: 1.2rem;
    cursor: pointer;
}

.productItem {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.productItem:hover {
    background-color: rgb(196, 196, 196);
}

@media screen and (max-width: 1080px) {
    .img-row {
        display: none;
    }

    .img-head {
        display: none;
    }
}