<div class="section pt-3">
  <div class="container">
    <h3 class="py-4 text-center">Your Profile</h3>
    <div *ngIf="user!=null" class="row profile-container pb-5">
      <div class="col-md-12 ">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">First Name</li>
          <li class="list-group-item">{{user.firstName}}</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">Last Name</li>
          <li class="list-group-item">{{user.lastName}}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item">Email </li>
          <li class="list-group-item">{{user.email}}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item">Address </li>
          <li class="list-group-item">{{user.address}}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item">City </li>
          <li class="list-group-item">{{user.city}}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item">State </li>
          <li class="list-group-item">{{user.state}}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item">Zip Code </li>
          <li class="list-group-item">{{user.zipCode}}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item">Contact Number </li>
          <li class="list-group-item">{{user.contactNumber}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Products tab & slick -->
</div>